<html>
  <h3>
    <b>Can you guess the SECRET NUMBER???</b>
  </h3>
  <body>
    <p></p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>
