<html>
  <h3>
    <b>Can you guess the SECRET NUMBER???</b>
    <style>
      body {
        <% if message == "Way too high!" %>
          background: red;
        <% elsif message == "Way too low!" %>
          background: red;
        <% elsif message == "Too low!" %>
          background: hotpink;
        <% elsif message == "Too high!" %>
          background: hotpink;
        <% else %>
          background: green;
        <%end%>
      }
    </style>
  </h3>
  <body>
    <p></p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>
